.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 370px;
  border-radius: 20px;
  background: linear-gradient(145deg, #adadad, #cdcdcd);
  border: solid 2px black;
  margin-top: 20px;
  text-align: center;
}

.pokemon-card:hover {
  transition-duration: .5s;
  transform: scale(1.03);
}


.pokemon-card > a {
  text-decoration: none;
  color: black;
}

.pokemon-pic {
  margin-top: 12px;
  width: 160px;
}

.pokemon-card > button {
  margin-left: 75%;
  margin-top: 12px;
  width: 75px;
  height: 75px;
}

.pokemon-card > button > img {
  width: 60px;
}

/*~~~~~~MEDIA QUERIES~~~~~~*/
@media screen and (min-width: 1600px) {
  .pokemon-card {
    width: 18%;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .pokemon-card {
    width: 24%;
  }
}

@media screen and (max-width:1200px) and (min-width: 800px) {
  .pokemon-card {
    width: 32%;
  }
}

