.pokemon-info {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.pokemon-info > img {
  width: 430px;
}

.info-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokeball {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  margin-top: 20px;
}

.pokeball > img {
  cursor: pointer;
  width: 188px;
  border-radius: 150px;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: gray;
}

.pokemon {
  background: black;
}
