.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

/* .pokemon-name {
  text-transform: uppercase;
} */

.pokemon-info > img {
  width: 430px;
}

.info-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokeball {
  width: 200px;
  height: 200px;
  border-radius: 150px;
}

.pokeball > img {
  cursor: pointer;
  width: 188px;
  border-radius: 150px;
}
