.card-display {
  background-color: white;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px; */
  padding: 20px;
  min-height: 756px;
  border: 8px solid black;
  border-bottom: solid 20px red;
  border-radius: 40px;
}

/*~~~~~~MEDIA QUERIES~~~~~~*/
/* @media screen and (max-width: 1600px) and (min-width: 1300px) {
  .card-display {
    grid-template-columns: repeat(4, 1fr);
  }
} */