.card-display {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  min-height: 756px;
  border: 8px solid black;
  border-bottom: solid 20px red;
  border-radius: 40px;
}

/*~~~~~~MEDIA QUERIES~~~~~~*/
@media screen and (min-width: 1200px) {
  .card-display {
    width: 95%;
  }
}