header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header > h1 {
  font-size: 60px;
  margin: 12px;
  color: white;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

.log-out {
  border: none;
  background: none;
  font-size: 36px;
  font-weight: bold;
  color: #cdcdcd;
  cursor: pointer;
}

.log-out:hover {
  color: #696969;
}

/*~~~~~~MEDIA QUERIES~~~~~~*/
