.login {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-head {
  width: 560px;
  text-align: center;
  border-bottom: solid 2px #696969;
  padding-top: 20px;
}

.login > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*~~~~~~MEDIA QUERIES~~~~~~*/